@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Sora:wght@400;500;600;700;800&display=swap");

@import "tailwindcss";

@theme {
  --color-background: #0f172a;
  --color-surface: #1e293b;

  --color-primary: #38bdf8;
  --color-secondary: #06b6d4;

  --color-text: #f8fafc;
  --color-muted: #94a3b8;

  --font-heading: "Sora", sans-serif;
  --font-body: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-body);
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

section {
  padding: 7rem 0;
}